<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alaskalinuxuser.kppdcontrol"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kppd"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kppd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".autostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstallActivity"
            android:label="@string/title_activity_install"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BootUp"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ControllingActivity"
            android:label="@string/title_activity_controlling"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <service android:enabled="true" android:name=".service" />
    </application>

</manifest>